<div class="container margin justify">  
  <h1 class="deepColor">En DeepCo queremos escucharte, ¿cuéntanos tus necesidades?</h1>
</div>

<div class="container containerContacto margin2">
  <h2 class="text-center">Escribenos a nuestro correo</h2>
  <h3 class="margin1 text-center">sergio.suarez@deepco.com.co</h3>
  <h2 class="text-center margin">Tambien puedes encontrarnos en el numero</h2>
  <h3 class="margin1 text-center">+57 301 592 8018</h3>
  <!-- <h3 class="">sergio.suarez@deepco.com.co</h3>
  <h3 class="">cindy.carmona@deepco.com.co</h3> -->
</div>


