	<div class="container margin">
      <div class="row">
        <div class="col-6 boxShadowService">
          <h2 class="deepColor">Desarrollo de tecnología</h2>
          <ul>
            <li>
              <a>Diseño de dispositivos y sistemas para entornos subacuáticos.</a>
            </li>
            <li>
              <a>Fabricación de prototipos funcionales.</a>
            </li>
            <li>
              <a>Selección e implementación de tecnología comercial.</a>
            </li>
            <li>
              <a>Desarrollo de software para integración de dispositivos.</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-6 offset-md-6 boxShadowService margin">
          <h2 class="deepColor">Monitoreo y procesamiento de datos</h2>
          <ul>
            <li>
              <a>Implementación de instrumentación (hardware y software).</a>
            </li>
            <li>
              <a>Captura y procesamiento de información.</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-6 boxShadowService margin">
          <h2 class="deepColor">Consultoría y capacitación</h2>
          <ul>
            <li>
              <a>Análisis de estanqueidad, flotabilidad y balanceo.</a>
            </li>
            <li>
              <a>Análisis computacional de fluidos (CFD).</a>
            </li>
            <li>
              <a>Análisis de elementos finitos (FEA).</a>
            </li>
            <li>
              <a>Selección de materiales.</a>
            </li>
            <li>
              <a>Integración de dispositivos.</a>
            </li>
            <li>
              <a>Vigilancia tecnológica.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


