	<div class="container margin w-75 justify">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 boxShadowService justify">
          <h2 class="deepColor">Desarrollo de tecnología</h2>
          <p>Poseemos amplia experiencia en el desarrollo de sistemas subacuáticos. Integramos tanto dispositivos desarrollados por nuestro equipo, como tecnología disponible en el mercado, para crear soluciones acordes con las necesidades de nuestro segmento.</p>
          <p>Algunas de las soluciones que ofrecemos son:</p>
          <ul>
            <li>
              <p>Reducción de costos asociados a los tiempos necesarios para obtener soporte técnico para tecnología importada.</p>
            </li>
            <li>
              <p>Construcción de planes de mantenimiento a la medida de las necesidades del usuario y basados en las recomendaciones de los fabricantes.</p>
            </li>
            <li>
              <p>Desarrollo de soluciones tecnológicas que faciliten la interacción con equipos comerciales para medición de variables físicas.</p>
            </li>
            <li>
              <p>Desarrollo de soluciones tecnológicas para el monitoreo y la toma de muestras digitales y/o físicas para cuerpos de agua.</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 boxShadowService margin justify">
          <h2 class="deepColor">Monitoreo y procesamiento de datos</h2>
          <p>DeepCo entiende la importancia que tiene para sus clientes la captura y procesamiento de datos. Suministramos herramientas para facilitar la toma, el procesamiento, el análisis y la generación de información de interés para el desarrollo de sus proyectos.</p>
          <p>Algunas de las soluciones que ofrecemos son:</p>
          <ul>
            <li>
              <p>Desarrollo de aplicaciones para el procesamiento de información.</p>
            </li>
            <li>
              <p>Integración de sensores remotos para procesamiento de información consolidada.</p>
            </li>
            <li>
              <p>Desarrollo de aplicaciones para georreferenciación de variables físicas y digitales.</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 boxShadowService margin justify">
          <h2 class="deepColor">Consultoría y capacitación</h2>
          <p>Ofrecemos asesoría, acompañamiento y capacitación en temas relacionadas con tecnologías para el recurso hídrico y entornos subacuáticos.</p>
          <p>Algunas de las soluciones que ofrecemos son:</p>
          <ul>
            <li>
              <p>Diagnóstico tecnológico para la intervención de procesos en cuerpos de agua.</p>
            </li>
            <li>
              <p>Identificación y selección de dispositivos adecuados para la intervención de procesos en recursos hídricos.</p>
            </li>
            <li>
              <p>Capacitación en operación y mantenimiento de tecnologías para exploración subacuática.</p>
            </li>
            <li>
              <p>Puesta a punto de sistemas de exploración subacuática.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>


