/*// Place all the styles related to the main controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/*----------Navbar Modifications----------*/
#logo-img {
  margin-left: 40px;
}

#navbarDropdown {
  left: -3vw;
}

nav div ul li a{
  border-bottom: 2px solid white;
  padding-bottom: 0px !important;
}

nav div ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgba(1,87,155,0.5);
}

nav div p a{
  border-bottom: 2px solid white;
  padding-bottom: 0px !important;
}

nav div p a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgba(1,87,155,0.5);
}

nav{
  box-shadow: 0px 2px 8px -1px #aeaeae;
  border-radius: 0% 0% 10% 10%;
}

/*----------SlideShow----------*/
.bg-white{
  opacity: 0.8;
}

.carousel-caption1 {
  position: absolute;
  right: 20%;
  bottom: 30%;
  left: 20%;
  z-index: 10;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  padding: 20px;
  color: #000;
  text-align: left;
  font-size: 2vw;
  font-weight: 3px;
  text-shadow: 0.07em 0.07em 0 rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.carousel-caption2 {
  position: absolute;
  right: 15%;
  bottom: 25%;
  left: 15%;
  z-index: 10;
  padding: 20px;
  color: #fff;
  text-align: left;
  font-size: 2vw;
  font-weight: 3px;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.carousel-caption3 {
  position: absolute;
  right: 2%;
  bottom: 82%;
  left: 40%;
  z-index: 10;
  padding: 20px;
  color: #fff;
  text-align: left;
  font-size: 2vw;
  font-weight: 3px;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}



#videoHP {
  height: 40vw;
  overflow: hidden;
}

/*----------Capacidades----------*/

#servicios {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  max-width: 100%;
}

.container .row{
  margin: 0px;
  width: 100%;
}

.row{
  margin: 0px;
}

#servicios div{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#servicios img {
  margin: 0px;
  padding: 0px;
  width: 100%;
 
}

.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, .5);
  height: 10%;
}

.centered p {
  text-align: center;
}

.hover-shadow:hover {
  opacity: 0.5;
  transform: scale(1.2);
}

/*----------Servicios----------*/

.iconsService {
  max-width: 200px;
  /*height: auto;*/
}


/*----------Footer----------*/

.stylish-color-dark{
  background-color: #eeeeee;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato';
}

/* Hover effect*/
.fa:hover {
    opacity: 0.3;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    transform: scale(1.5);
    
}

/* linkedin */
.fa-linkedin {
    transform: scale(1.5);
}


/*----------Additional----------*/

body {
  overflow-x: hidden;
  width:100%;
  height:100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'Lato'; 
  font-size: 18px;
  font-weight: 300;
}

.margin {
  margin-top: 5%;
}

.no-margin {
  margin-top: 0%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.justify {
  text-align: justify;
}

.deepColor {
  color: #01579b;
  /*font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  padding-top: 0.1em;*/
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

}

.marginAboutUs {
  margin-top: 2%;
}

#imageAboutUs {
  margin-top: 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
}

.center1 {
    text-align: center;
}


/*Para modificar las fotos circulares de cada uno*/
.deepPhotos {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 50%;  /* Rounded border */ 
}

.deepPhotos:hover {
    box-shadow: 0 0 5px 2px #01579b;
}

.boxShadowService:hover {
    box-shadow: 0 0 5px 2px #01579b;
    border-radius: 10px;
}

/*Texto de las secciones*/

.textSection{
    font-size: 25px;
    text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.parallax1 {

    /* The image used */
    background-image: url("homePage/deepco_multiplexorSergio.jpg");
    opacity: 0.8;

    /* Set a specific height */
    height: 20vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {

    /* The image used */
    background-image: url("homePage/deepco_5.jpg");
    opacity: 0.8;

    /* Set a specific height */
    height: 20vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center{
  padding: 0px;
}


/*-----------------------------------------------------*/

@media (max-width: 575px) {
  .centered {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .marginForCellphone {
    margin-bottom: 20px;

  }
}

/*---------------------Ordered list--------------------------------*/

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0;
  padding: 0;
}

ol li {
  counter-increment: my-awesome-counter;
  /*display: flex;*/
  margin-bottom: 0.8rem;

}

ol li::before {
  content: "[" counter(my-awesome-counter) "]";
  /*font-size: 3rem;*/
  margin-right: 0.5rem;
  /*font-family: 'Abril Fatface', serif;
  line-height: 1;*/
}