<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <ul>
      <li><%= link_to (t :language1), locale: :en %></li>
      <li><%= link_to (t :language2), locale: :es %></li>
    </ul>
    <%= yield %>
  </body>
</html>
